.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.flex-end {
  justify-content: end;
}

.flex-justify-center {
  justify-content: center;
}

.flex-row {
  display: row;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.text-center {
  text-align: center;
}

/*===================================================================*/

.add-answer-choice {
  display: flex;
  padding-left: 35px;
  padding-right: 62px;
  justify-content: center;
  margin-top: 0.5rem;
}

.add-question-container {
  position: absolute;
  bottom: 0;
  width: 190px;
}

.answer-choices-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.answer-choice-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.build-first-item {
  width: 80vw;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lightbox {
  background-color: whitesmoke;
  border: 1px solid gray;
  border-radius: 8px;
  left: 50%;
  max-height: 85vh;
  max-width: 400px;
  outline: none;
  overflow: auto;
  padding: 25px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
}

.link:hover {
  cursor: pointer;
}

.page-actions {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  /* margin-bottom: 1rem; */
}

.page-container {
  padding-top: 60px;
  min-height: calc(100vh - 60px);
}

.questions-list {
  height: 510px;
  position: relative;
  width: 190px;
  margin-right: 20px;
}
