.course-img-upload-progress {
  width: 80%;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.course-title-and-description {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 250px;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  padding-top: 70px;
  min-height: calc(100vh - 70px);
}

.tabs-vertical {
  display: block;
  min-width: 200px;
  position: relative;
  top: 50px;
  max-height: 60vh;
}

.tabs-horizontal {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  .dashboard-container {
    flex-direction: column;
  }
  .tabs-vertical {
    display: none;
  }

  .tabs-horizontal {
    display: flex;
    flex-direction: row;
  }
}
