.adaptive-progress-container {
  display: inline-flex;
  position: relative;
}

.adaptive-card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  max-width: 650px;
  min-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 92%;
}

.adaptive-progress-card {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin: 10px;
  max-width: 650px;
  min-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 92%;
}

.adaptive-progress-label {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px gainsboro;
  border-radius: 50%;
}

.adaptive-qset-complete-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.add-question-container {
  margin-top: 10px;
  width: 210px;
}

.answer-choice-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.answer-choice-preview,
.answer-choice-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.enable-reset-container {
  position: absolute;
  top: 68px;
  right: 40px;
}

.multiple-choice-radio,
.multiple-choice-checkbox {
  align-self: flex-start;
}

.percent-tolerance-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.question-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 650px;
  min-width: 400px;
  min-height: 500px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 92%;
}

.question-card-placeholder {
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 15px;
  min-width: 600px;
  min-height: 500px;
}

.question-list {
  height: 500px;
  min-width: 200px;
  width: 220px;
  overflow: auto;
}

.question-list-container {
  margin-left: 35px;
  margin-right: 35px;
}

.question-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.question-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.question-nav {
  display: none;
}

.question-nav-gradebook {
  display: block;
  padding-top: 10px;
  position: relative;
  left: 10px;
}

.question-set-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.correct-answer-field-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.correct-answer-preview-area {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.response-field-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.response-area {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 30px;
}

.response-area-b {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 30px;
}

.correct-answer-field-container {
  background-color: rgba(200, 200, 200, 0.06);
  outline: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  min-width: 100px;
  max-width: 300px;
}

.correct-answer-field-container-b {
  background-color: rgba(200, 200, 200, 0.06);
  border-radius: 8px;
  border-top-right-radius: 8px;
  margin: 10px;
  min-width: 100px;
  max-width: 300px;
  outline: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 15px;
  text-align: center;
}

.response-field-container {
  width: 200px;
  margin: 10px;
  position: relative;
}

.correct-answer-field-container .eq-field {
  outline: none;
}

.right-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 800px;
  align-items: center;
}

.skip-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 10px;
}

.question-card-nav-mode-container {
  display: flex;
  justify-content: space-between;
  /* padding-right: 10px; */
  width: 100%;
  max-width: 690px;
}

.title-preview-spacer {
  height: 65px;
}

@media only screen and (max-width: 900px) {
  .question-card-nav-mode-container {
    width: 98%;
  }

  .question-list-container {
    display: none;
  }

  .question-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: relative;
    left: 5px;
    top: 5px;
  }

  .question-set-container {
    flex-direction: column;
    align-items: center;
  }

  .right-panel {
    width: 100%;
  }
}
