.adaptive-progress-container {
  display: inline-flex;
  position: relative;
}

.adaptive-progress-label {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 3px gainsboro;
  border-radius: 50%;
}

.adaptive-qset-complete-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.add-question-container {
  margin-top: 10px;
  width: 210px;
}

.answer-choice-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.answer-choice-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.percent-tolerance-field-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.adaptive-progress-card {
  margin: 15px;
  max-width: 630px;
  min-width: 600px;
  padding: 10px;
}

.adaptive-card {
  margin: 15px;
  max-width: 630px;
  min-width: 600px;
  padding: 10px;
}

.question-card {
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 630px;
  min-width: 600px;
  min-height: 500px;
  padding: 10px;
}

.question-card-placeholder {
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 15px;
  min-width: 600px;
  min-height: 500px;
}

.question-list {
  height: 500px;
  min-width: 200px;
  width: 220px;
  overflow: auto;
}

.question-list-container {
  margin: 15px;
}

.question-card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.question-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.question-nav {
  display: none;
}

.question-set-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.correct-answer-field-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.correct-answer-preview-area {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.response-field-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.response-area {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  padding-bottom: 30px;
}

.correct-answer-field-container {
  background-color: rgba(200, 200, 200, 0.06);
  outline: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  min-width: 100px;
  max-width: 300px;
}

.response-field-container {
  width: 200px;
  margin: 10px;
  position: relative;
}

.correct-answer-field-container .eq-field {
  outline: none;
}

.right-panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title-preview-spacer {
  height: 65px;
}

@media only screen and (max-width: 900px) {
  .question-list-container {
    display: none;
  }

  .question-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }

  .question-set-container {
    flex-direction: column;
    align-items: center;
  }
}
